.topbar-appBar{
  height: 60;
  justify-content: "center";
}

.toolbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topbar-checkbox-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}