.userphotos-post{
  margin-bottom: 2rem;
}

.userphotos-image{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  object-fit: contain;
}

.userphotos-imagelist{
  margin: 0;
}

.userphotos-advanced-slideshow{
  display: flex;
  flex-direction: row;
  justify-content: center;

  height: 90vh;
  object-fit: contain;
}
