/**
 * CSS for the Project 1 main page.
 *
 * Since CSS uses a global name space for classes we should use class names
 * starting with "main-" here.
 */

.main-topbar-buffer {
  margin-top: 70px;
}

.main-grid-item{
  min-height: calc(100vh - 64px);
  padding: 10px;
}
